.manage__container {
  background: #e5e7e9;
  height: 100vh;

  // .manage__card ::-webkit-scrollbar {
  //   display: none;
  // }

  .manage__card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 2px 13px -1px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: 1px 2px 13px -1px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 1px 2px 13px -1px rgba(0, 0, 0, 0.42);
    height: 100vh;
    overflow-y: hidden;

    .search_container {
      display: flex;
      width: inherit;
      flex: 1;
      background-color: #ffffff;
      border-bottom: 1px solid lightgrey;
      padding: 10px;
      align-items: flex-end;
      justify-content: flex-end;

      .input_container {
        display: flex;
        border: 1px solid #bdbdbd;
        border-radius: 4px;
        align-items: center;
        height: 30px;

        input {
          outline: none;
          border: none;
          font-family: "Inter";
          font-weight: 400;
          font-size: 12px;
          height: 25px !important;
        }
      }

      button {
        color: white;
        height: 32px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600 !important;
        font-size: 12px !important;
        line-height: 15px;
        background: linear-gradient(107.27deg, #333333 3.43%, #ffffff 251.34%);
        margin-right: 20px;
      }
    }

    .manage__header {
      width: inherit;
      height: 40px;
      background-color: #d9b036;
      border-radius: 10px 10px 0px 0px;
      position: relative;
      top: -21px !important;

      h4 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600 !important;
        font-size: 16px !important;
        color: #ffffff;
        text-transform: capitalize;
        position: relative;
        padding: 10px;
      }
    }

    ::ng-deep .mat-progress-bar-fill::after {
      background-color: #ff8a16 !important;
    }

    ::ng-deep .mat-progress-bar-buffer {
      background-color: #d9b036;
    }

    .table_container {
      background-color: rgb(255, 255, 255);
      height: 80%;
      overflow-x: hidden;
      overflow-y: scroll;
      flex: 1;
    }

    .testSuite_manage_noContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      margin: 10px 0px 10px 0px;
      span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        // width: 300px;
      }
      img {
        height: 300px;
        width: 300px;
        object-fit: contain;
      }
    }
  }

  table {
    width: 100%;
    overflow: scroll;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    thead {
      padding: 10px;
      background-color: #d9b036;

      th {
        padding: 20px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500 !important;
        font-size: 12px !important;
        line-height: 15px;
        text-align: center;
        color: #ffffff;
      }
    }
  }

  // td.mat-cell,
  th.mat-header-cell {
    color: white;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  tr.mat-header-row {
    background-color: #d9b036;
    color: white;
  }

  :root {
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
  }

  mat-header-cell,
  mat-cell {
    justify-content: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  td,
  th {
    text-align: center !important;
    vertical-align: middle !important;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  td:nth-child(2),
  td:nth-child(3) {
    P {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      // margin: 0 auto;
      max-width: 330px;
      // width: 300px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 19px;
      padding-right: 15px;
    }
  }

  th.mat-header-cell:nth-child(1) {
    padding-right: 5px;
  }

  th.mat-header-cell:nth-child(2) {
    width: 300px !important;
  }
  th.mat-header-cell:nth-child(3) {
    width: 350px !important;
  }

  th.mat-header-cell:nth-child(2),
  th.mat-header-cell:nth-child(3) {
    text-align: left !important;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    // padding-right: 10px;
  }

  th.mat-header-cell {
    text-align: center !important;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  td.mat-cell,
  td.mat-footer-cell,
  th.mat-header-cell {
    // padding: 0;
    border-bottom-width: 0px;
    border-bottom-style: none;
  }

  /deep/ .mat-paginator-icon {
    width: 28px;
    color: #bdbdbd !important;
  }
}
